html
{
margin: 0;
padding: 0;
}
* {
    box-sizing: border-box;
  }
body
{
    font-family: Coronetscript, cursive;
    line-height: 2.0;
    background: transparent url(image/sky2.jpg) no-repeat fixed;
    margin: 0;
    padding: 0;
    font-size: large;
}

header h1{
    color: rgba(89, 49, 199, 0.959);
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    -moz-border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
    -webkit-border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
    -o-border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
    border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
    background: transparent url(image/title1.jpg)  ;
    outline-style: groove ;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 30px;
    z-index: 1;
}
.summary p{
    background: none;
}

header h2,
.preamble h3,
.explanation h3,
.participation h3,
.benefits h3,
.requirements h3
{
    padding:10px;
    text-align: center;
    border-style: double;
    background-image: linear-gradient(to right, rgb(130, 176, 202), rgba(22, 151, 211, 0.884));
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgba(229, 238, 104, 0.959);
    position: relative;
}
h3:hover{
    background: hotpink;
}
header h2{
    float: left;
    width: 100%;
    text-align: center;
    padding:10px;
    margin-left: 10px;
    margin-right: 10px;
}
.summary p{
    text-align: center;
    padding:10px;
}
.preamble,
.participation,
.explanation,
.benefits
{
    float:left;
    width:50%;
    text-align: justify;
    padding:10px;
    
}
.requirements{
    float:left;
    width:100%;
    text-align: justify;
}
.design-selection , .design-archives , .zen-resources
{
    width: 100%;
    float: left;
}
.zen-resources{
    margin-bottom: 300px;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-image: linear-gradient(to right, rgb(130, 176, 202), rgba(22, 151, 211, 0.884));
    border-style: double;
}
.preamble p,.explanation p,.participation p,.benefits p,.requirements p{
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    -moz-border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
    -webkit-border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
    -o-border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
    border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
 
}
.sidebar {
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-size: 24px;
    color: rgb(15, 60, 66);
    text-align: center;
}
a:hover{
    color: green;
}

.sidebar ul{
    text-align: center;
}
.design-selection ul,.design-archives ul,.zen-resources ul {
    list-style-type: none;
  display: none;
  position: relative;
  width:100%;

  }
  p{
      background: rgb(73, 171, 184);
  }
p:hover{
    background:rgba(31, 143, 177, 0.959)
}
.sidebar h3{
    color: rgb(239, 239, 240);
    border: saddlebrown;
    border-style: groove;
    background-image: url(image/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin:15px;
    

}
.design-selection:hover ul,.design-archives:hover ul,.zen-resources:hover ul{
    display: block;
    
}
.design-selection:hover,.design-archives:hover,.zen-resources:hover{
    background-image: url(image/title1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    -moz-border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
    -webkit-border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
    -o-border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
    border-image: url(image/blueborder.jpg) 341 65 78 65 stretch stretch;
}
ul{
    background-image: url(image/sidebar.jpg);
    border-style: double;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="preamble"],[class*="explanation"],[class*="participation"],[class*="benefits"],[class*="requirements"],[class*="design-selection"],[class*="archives"],[class*="resources"] {
      width: 100%;
    }


